html {
         background-image: url("https://static.vecteezy.com/system/resources/previews/003/858/165/original/black-brick-wall-texture-dark-stone-surface-background-for-design-free-photo.jpg");
}
.nagasaki{
        text-align : center;
}


h1 {
        color: #ffff5b;
}
